- @quizzes.each do |quiz|
  %ul.pricing-table
    %li.title.quiz-name
      = link_to(quiz.name, quiz_path(quiz))
    %li.price
      = number_to_currency(quiz.total_cost)
    / %li.price
    /   = number_to_currency(quiz.total_cost)
    / %li.quiz-info
    /   %h3 Yay placeholder!
    %li.bullet-item.quiz-info
      = image_tag('stairs.svg', :size => '50x50')
      = quiz.overall_difficulty
    %li.bullet-item.quiz-info
      = image_tag('star-rating.svg', :size => '50x50')
      = quiz.overall_rating
    %li.bullet-item.quiz-info
      = image_tag('user.svg', :size => '50x50')
      = quiz.owner
    %li.bullet-item.quiz-info.price
      = image_tag('dollar.svg', :size => '50x50')
      = number_to_currency(quiz.total_cost)
    %li.cta-button
      - if @auth.customer_id.present?
        = render :partial => 'quizzes/customer', :locals => {:quiz => quiz}
      - else
        = render :partial => 'quizzes/anonymous', :locals => {:quiz => quiz}

