
%h1= @quiz.name + " " + 'Analytics'


%table
  %tr
    %th Name
    %th Last Date
    %th Last Score
    %th Avg Score
    %th Number of Attempts
    -@quiz.people.each do |person|
      %tr
        %td= person.name
        %td= person.results.last.created_at
        %td= person.results.last.score
        %td= number_to_percentage(@quiz.avgscore(person), :precision => 2)
        %td= person.results.all.count
#graph