= form_for @person, :html => {:multipart => true}, :remote => true do |f|
  = f.text_field :name, :placeholder => 'Name'
  = f.text_field :email, :placeholder => 'Email'
  / = f.text_field :address, :placeholder => 'Profile Photo'
  = f.text_field :phone, :placeholder => 'Phone (555)555-5555', :class => 'form_field'
  = f.password_field :password, :placeholder => 'Passowrd'
  = f.password_field :password_confirmation, :placeholder => 'Confirm Password'
  = f.file_field :image_file, :class=>'profile_pic'
  = link_to('Cancel', "#", :'data-clear-form' => true, :class => 'button radius tiny', :class => 'cancel_login_button')
  = f.submit nil, :class => 'button radius tiny', :class => 'login_button'