= form_for @person, :html => {:multipart => true}, :remote => true do |f|
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.text_field :email
  = f.label 'Profile Picture'
  = f.file_field :image_file
  = f.label :address
  = f.text_field :address
  = f.label :phone
  = f.text_field :phone
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = link_to('Cancel', "#", :'data-clear-form' => true, :class => 'button radius tiny alert')
  = f.submit nil, :class => 'button radius tiny success'