.main
  #profile_image
    =image_tag(@person.image_file, :id=> 'profile_pic')
    #stats
      .tests_taken.inline
        %p.score 34
        %span.stat Tests Taken
      .high_score.inline
        %p.score 90%
        %span.stat High Score
      .mosttags.inline
        %p.score Ruby
        %span.stat Topic
      / .language_icon1.inline
      /   =image_tag 'ruby-icon.jpg', :size => '50x50'
      / .language_icon2.inline
      /   =image_tag 'python-icon.png', :size => '50x50'
  %br
  %br
  %br
  %br
  #bio.inline
    %h1.person_name=@auth.name
    / %p.bio_info Timbuktu, Mali
    %p.bio_info I'm a former computer science professor at the University of Timbuktu and now I'm learning Ruby.
  #test_table
    //=render "test_table"
    Interviews Taken
  %table.person
    %tr
      %th.person_data Name
      %th.person_data Date
      %th.person_data Score
      %th.person_data Correct
      %th.person_data Incorrect
      -@person.quizzes.each do |quiz|

        %tr.quiz_list
          %td.quiz_data= quiz.name
          %td.quiz_data= quiz.results.last.created_at
          %td.quiz_data= quiz.results.last.score
          / %td.quiz_data= number_to_percentage(person.avgscore(person), :precision => 2)
          / %td.quiz_data= quiz.results.all.count

  .map_layout
    #map_canvas
      %script
        map.display_map(0, 0, 1)
        = "map.add_marker(#{@person.lat}, #{@person.long}, '#{@person.name}');"
    =link_to('Add Question', new_quiz_path, :class => 'button radius', :id => 'add_question_button')

  #graph
    %script
      person.display_chart()
      person.get_chart("#{@person.id}");


